.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}

.toastBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 520px;
    height: 700px;
    text-align: center;
    overflow: hidden;
}


.toastImg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 570px;
}
.engTitle {
    position: relative;
    display: inline-block;
    width: 246px;
    height: 95px;
    margin-top: 50px;
}
.closeCon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

.closeImg {
    width: 80px;
    height: 86px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.toMain {
    position: relative;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 20px;
    height: 420px;
}

.toMainItem {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    border: 5px solid #000;
    margin: 10px 0;
    text-align: left;
    background: #eee;
    box-sizing: border-box;
}
.itemIcon{
    width: 90px;
    height: 90px;
    margin-top: 15px;
    margin-left: 10px;
    vertical-align: top;
}

.itemTxt {
    display: inline-block;
    vertical-align: top;
    height: 90px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    font-size: 0;
    overflow: hidden;
    width: calc(100% - 234px);
    margin-right: 10px;
}
.itemTxtTop,.itemTxtBottom {
    display: block;
    height: 40px;
    line-height: 50px;
    text-align: left;
    font-size: 24px;
    color: #2d2d2d;
}
.itemBtn {
    width: 104px;
    height: 51px;
    margin-top: 34px;
    position: relative;
}

Button {
    display: inline-block;
    padding: 0!important;
    font-size: unset!important;
    background: transparent!important;
    overflow: unset!important;
}

Button::after {
    border: none!important;
}